<html>
  <head>
    <title>Gosssip numero <%= id %> </title>
  </head>
  <body>
    <h1>Super Gossip numéro <%= id %></h1>

        <p>Author:
          <%= gossip.author %><br/>
          Gossip:
          <%= gossip.content %>
        </p>
  </body>
</html>
